
body{
    background-image: url('/css/f.elconfidencial.com_original_d9e_66d_793_d9e66d793adbc994841e60850a17e61c.jpg');
    background-size:cover;
    color:#ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin:0;
}

section{
    display: grid;
    place-items:center;
    align-content: center;
    min-height: 60vh;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 5s;

}


.show{
   opacity:1;
   filter: blur(0);
   transform: translateX(0);
}

.imagenes{
    display: flex;
}

.imageneslogo{
    display:flexbox;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.imageneslogo:hover{
    transform: scale(1.3);
}


.esfera{
        display:flex;
        width: 130px;
        height: 130px;
        background-color: rgb(255, 255, 255);
        background: radial-gradient(at top left, rgb(204, 0, 255) 20%, rgb(204, 0, 255));
        -ms-border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 150px;
        margin: 60px auto;
       
}

.experience{
    text-align: center;
    display: flexbox;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
    margin: 55px auto;
    font-size: 20px;

    ;
    
}

.esfera:hover{
    transform: scale(1.1);
}
